<!doctype html>
<html lang="zh-cn" ng-app="mapApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/semantic.min.css">
  <link rel="stylesheet" href="/stylesheets/app.css">
  <script type='text/javascript' src="/javascripts/jquery-2.1.4.min.js"></script>
  <script src="http://webapi.amap.com/maps?v=1.3&key=afc26617f785e83702d842c3cee6c4ac" type="text/javascript"></script>
</head>

<body ng-controller="HomeCtrl" onload="initialize()">
    <div class="ui inverted menu">
        <div class="header item">你在哪兒</div>
         <div class="left menu">
              <button class="ui icon button">
                    <i class="marker icon"></i>
              </button>
              <button class="ui inverted blue button active"  onclick="">
                    我的地图
              </button>
              <button class="ui inverted green button active"  onclick="newMsg()">
                    发布新消息
              </button>
         </div>
         <div class="right menu">
              <div class="item">
                  <div class="ui icon input">
                        <i class="search icon"></i>
                        <input type="text" placeholder="搜索…">
                  </div>
              </div>
              <a class="item" onclick="dispMsg()">前往</a>
        </div>
    </div>
    <div id="container">
        <div class="ui icon input"> </div>
    </div>






   <!--发布新消息的页面-->
  <div class="ui modal" id='newmsg'>
          <i class="close icon"></i>
     <div class="header">
                发布新消息
     </div>
     <div class="content">
           <div class="ui form">
                   <div class="description">
                                您当前的位置在：
                   </div>
                   <div class="ui icon button">
                          <i class="photo icon"></i>
                   </div>
                  <div class="field">
                        <label>说点什么：</label>
                        <textarea></textarea>
                  </div>
            </div>
      </div>
      <div class="actions">
              <div class="ui black deny button">
                       取消
              </div>
              <div class="ui positive right labeled icon button">
                       确认发布
                      <i class="checkmark icon"></i>
             </div>
       </div>
</div>




<!--当地信息-->
 <div class="ui basic modal" id='dispmsg'>
          <i class="close icon"></i>
     <div class="header">
              您当前的位置在：
     </div>
     <div class="content">
           <div class="ui form">
                   <div class="ui card">
                        <div class="content">
                          <i class="right floated like icon"></i>
                          <i class="right floated star icon"></i>
                          <div class="header">二公寓真热</div>
                          <div class="description">
                            <p>工大太抠门，寝室不给装空调，地还是水你的</p>
                          </div>
                        </div>
                        <div class="extra content">
                          <span class="left floated like"><i class="like icon"></i> Like </span>
                          <span class="right floated star"><i class="star icon"></i> Favorite </span>
                        </div>
                      </div>
            </div>
      </div>
  </div>

  <script src="/javascripts/semantic.min.js"></script>
  <script src="/javascripts/location/geo.js"></script>

  <script src="/javascripts/angularjs/angular.min.js"></script>
  <script src="/javascripts/angularjs/angular-route.min.js"></script>
  <script src="/javascripts/angularjs/angular-resource.min.js"></script>
  <script src="/javascripts/angularjs/services.js"></script>
  <script src="/javascripts/angularjs/app.js"></script>
  <script src="/javascripts/angularjs/controllers.js"></script>
  <script src="/javascripts/angularjs/filters.js"></script>

  <script type="text/javascript">
    function initialize(){
      var position=new AMap.LngLat(126.640497, 45.751298);
      var mapObj=new AMap.Map("container",{
            view: new AMap.View2D({//创建地图二维视口
                  center:position,//创建中心点坐标
                  zoom:14, //设置地图缩放级别
                  rotation:0 //设置地图旋转角度
             }),
           lang:"zh_cn"//设置地图语言类型，默认：中文简体
       });//创建地图实例
    }
    function newMsg(){
      $('#newmsg').modal('show');
    }
    function dispMsg(){
      $('#dispmsg').modal('show');
    }
   </script>

   <script src="/javascripts/location.js" charset="utf-8"></script>
</body>
</html>
