<!doctype html>
<html lang="zh-cn" ng-app="mapApp">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Hugo走天下</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/semantic.min.css" />
  </head>

  <body>

    <div class="ui column centered grid">
      <!-- <div class="one column row"> -->
        <div class="twelve wide column">
          <div class="row">
            <div class="ui grid">
              <div class="row">
              </div>
            </div>
          </div>
          <div class="ui floating message" ng-controller='infoCtrl'>
            <div class="header"></div>
            <p></p>
          </div>
        </div>

      <!-- </div> -->

      <!-- <div class="one column row"> -->
        <div class="twelve wide column">
          <div class="ui menu" ng-controller='headerCtrl'>
            <div class="header item">
              <a href="/">Hugo</a>
            </div>
            <a id="post-btn" class="item" data-content="添加足迹" data-variation="inverted" data-position="bottom center">
              <i class="write icon"></i>
            </a>
            <div class="right menu">
              <a id="map-btn" class="item">
                <i class="marker icon"></i>
                我的地图
              </a>
              <a id="registry-btn" class="item">注册</a>
              <a id="login-btn" class="item">登录</a>
              <a id="logout-btn" class="item">注销</a>
              <a id="current-btn" class="item" data-content="当前位置" data-variation="inverted" data-position="bottom center">
                <i class="crosshairs icon"></i>
              </a>
              <div class="ui category search item">
                <div class="ui transparent icon input">
                  <form id='form-search' ng-controller="SearchCtrl" method="GET" enctype="multipart/form-data">
                    <input id='location' class="prompt" type="text" placeholder="搜索地点..."></input>
                  </form>
                  <i id='search' class="search link icon"></i>
                </div>
                <div class="results"></div>
              </div>
            </div>
          </div>
        </div>
      <!-- </div> -->

      <!-- <div class="ui grid"> -->
        <!-- <div class="row"> -->
        <div class="twelve wide column">
          <div class="ui piled segment">
          <div ng-controller="mapCtrl">
            <div id="map" style="height: 510px;">
              <div class="ui icon input"> </div>
            </div>
          </div>
          </div>
        </div>
        <!-- </div> -->
      <!-- </div> -->

    </div>


    <!--发布新消息的页面-->

    <div class="ui modal" id="post-module" ng-controller="postCtrl">
      <div class="header">分享当前位置</div>
       <div class="content">
         <div class="ui form">
           <form id='form-post'>
             <input type="text" name="location" value="{{newMsg.address}}" hidden></input>
             <input type="text" name="lng" value="{{newMsg.posNum.lng}}" hidden></input>
             <input type="text" name="lat" value="{{newMsg.posNum.lat}}" hidden></input>
             <div class="inline field">
               <label>添加照片:</label>
               <div id='file-btn' class="ui icon button">
                 <i class="photo icon"></i>
               </div>
               <input id='bin' type="file" name="image" style='display:none;'></input>
             </div>

             <div class="field">
               <label>说点什么：</label>
               <textarea ng-model="newMsg.msg" name='text'></textarea>
             </div>
             <div class="inline field">
               <label>你的位置：</label>
                 {{newMsg.address}}
             </div>
           </form>
        </div>
      </div>

      <div class="actions">
        <div class="ui black deny button">取消</div>
        <div id='submit' class="ui positive right labeled icon button">
          确认发布
          <i class="checkmark icon"></i>
        </div>
      </div>
    </div>


    <!--注册-->
    <div class="ui modal" id="registry-module" ng-controller="registryCtrl">
      <div class="header">注册</div>
      <div class="content">
        <form class="ui large form" id="form-registry" enctype="multipart/form-data">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="username" placeholder="用户名"></input>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="密码"></input>
            </div>
          </div>
        </form>
      </div>

      <div class="actions">
        <div class="ui black deny button">取消</div>
        <div class="ui positive right labeled icon button submit">
          注册
          <i class="checkmark icon"></i>
        </div>
      </div>
    </div>


    <!-- 登陆 -->
    <div class="ui modal" id="login-module" ng-controller="loginCtrl">
      <div class="header">登录</div>
      <div class="content">
        <form class="ui large form" id="form-login" enctype="multipart/form-data">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="username" placeholder="用户名"></input>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="密码"></input>
            </div>
          </div>
        </form>
      </div>

      <div class="actions">
        <div class="ui black deny button">取消</div>
        <div class="ui positive right labeled icon button submit">
          登录
          <i class="checkmark icon"></i>
        </div>
      </div>
    </div>

    <!-- 注销 -->
    <div class="ui modal" id="logout-module" ng-controller="logoutCtrl">
      <div class="content">
        注销
      </div>
      <div id='logout-loader' class="ui inverted dimmer">
        <div class="ui text loader">正在注销</div>
      </div>
    </div>

    <script src="/javascripts/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/semantic.min.js"></script>
    <script src="/javascripts/geo.js"></script>
    <script src="/javascripts/amap.js"></script>

    <script src="/javascripts/angularjs/angular.min.js"></script>
    <script src="/javascripts/angularjs/angular-route.min.js"></script>
    <script src="/javascripts/angularjs/angular-resource.min.js"></script>
    <script src="/javascripts/angularjs/app.js"></script>
    <script src="/javascripts/angularjs/services.js"></script>

    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/angularjs/controllers.js"></script>
  </body>
</html>
